.subnavbar {
  height: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  padding: 10px;
  background-color: #fe7302;
}

.siguienteElemento {
  margin-top: 3px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.navbar__item select {
  padding: 6px 12px;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(6, 3, 3);
  border: none;
  flex-direction: row;
  align-items: center;
  max-width: 150px;
  font-size: 17px;
}

.navbar__item select option {
  background-color: black;
  color: white;
}

.genres,
.platforms,
.options,
.allGamesLink {
  margin-right: 1px;
  padding: 2px 6px;
  font-size: 14px;
}

.allGamesButton {
  text-decoration: none;
  background-color: #fe7302;
  padding: 8px 12px;
  border-radius: 5px;
}

.allGamesLink {
  color: rgb(5, 1, 1);
  font-weight: bold;
}

.heartIcon,
.userIcon {
  font-size: 24px;
  margin-right: 5px;
  color: rgb(246, 240, 240);
}

@media (max-width: 576px) {
  .navbar__item {
    font-size: 12px !important;
  }

  .navbar__item select,
  .allGamesLink {
    padding: 4px 8px !important;
    max-width: 120px !important;
    font-size: 10px !important;
  }

  .heartIcon,
  .userIcon {
    font-size: 12px !important;
    margin-right: 3px !important;
  }
}
