/* subnavbar.module.css */

.subnavbar {
  height: 100%;
  align-items: center;
  padding: 0;
  padding-bottom: 0;
  padding-top: 4%;
  background-color: grey;
}

.navbar {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin: 0 auto;
}

.navbar__item {
  display: flex;
  align-items: flex-end;
}

.heartIcon {
  font-size: 2rem; /* Ajusta el tamaño del icono de corazón */
}

.userIcon {
  font-size: 2rem; /* Ajusta el tamaño del icono de usuario */
}

.navbar__item a.allGamesButton {
  font-size: 3rem; /* Ajusta el tamaño del texto "All Games" */
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__item select {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem; /* Asegúrate de que '2rem' es el tamaño que deseas */

}

.navbar__item select option {
  background-color: black;
  color: white;
}

.allGamesLink {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1.rem; /* Ajusta el tamaño del texto de enlace */
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

.navbar__item a {
  color: white;
  text-decoration: none;
  padding-right: 30%;
  font-size: 1.7rem; /* Ajusta el tamaño del texto de enlace */
}

.navbar__item p {
  color: white;
  text-decoration: none;
  padding-right: 30%;
  font-size: 1rem;
}

.navbar__item a:hover {
  text-decoration: underline;
}
