/* subnavbar.module.css */

.subnavbar {
  background-color: rgb(87, 84, 84);
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__item {
  margin-right: 20px;
}

.heartIcon {
  font-size: 30px;
}

.userIcon {
  font-size: 30px;
}

.navbar__item a.allGamesButton {
  font-size: 30px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__item select {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 30px;
  cursor: pointer;
}

.navbar__item select option {
  background-color: black;
  color: white;
}

.navbar__item a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 16px;
}

.navbar__item a:hover {
  text-decoration: underline;
}
