.subnavbar {
  height: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbarOrdering {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B6FE02;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 3px;
  flex-direction: row;
  flex-wrap: wrap;
}

.orderSelect {
  border: none;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  background-color: transparent;
  max-width: calc(80% - 8%);
  color: rgb(0, 3, 6);
}

.selectedSelect {
  border: none;
  margin: 1% 0;
  font-size: 18px;
  font-weight: bold;
  padding: 1%;
  border-radius: 15px;
  background-color: transparent;
  max-width: calc(80% - 8%);
}

button {
  margin: 1px;
  background-color: #fe7302;
}


@media (max-width: 576px) {
  .navbarOrdering {
    font-size: 10px;
    flex-direction: column;
  }

  .orderSelect,
  select,
  .selectedSelect {
    padding: 4px 8px;
    max-width: 85px;
    font-size: 10px;
  }

  .ordering > div {
    margin: 1% 1%;
    width: 100%;
  }
}
