.navBar {
  background-image: url('https://res.cloudinary.com/dnkaxvkr9/image/upload/v1686080483/g4guvzr3ivxfgxgrwc6v.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2%;
  margin-bottom: 0;
  height: 25vh;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

 .searchBarContainer {
  
 } 

.logoContainer {
  margin-bottom: 20px; /* Agrega un margen inferior para separarlo del SearchBar */
}

.logoLink {
  display: inline-block;
}

.searchBarContainer {
  flex: 0 0 400px; /* Ajusta el ancho según tus necesidades */
  margin-left: 10px; /* Agrega un margen izquierdo para separarlo del logo */
}


