.navBar {
  background-image: url('https://res.cloudinary.com/dnkaxvkr9/image/upload/v1686080483/g4guvzr3ivxfgxgrwc6v.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
}

.logoContainer {
  margin-bottom: 2%;
  text-align: center; /* Centra horizontalmente el contenido */
}

.logo {
  width: 60%; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* La altura se ajustará automáticamente proporcionalmente al ancho */
  max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente el contenido */
  margin-left: 0;
  margin-right: 0;
}

.searchBarContainer {
  flex: 0 0 350px; /* Ajusta el ancho según tus necesidades */
}

@media (max-width: 767px) {
  .logoContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido en dispositivos móviles */
  }
}
