.container {
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 2px -1px 20px rgb(0 0 0 / 70%);
  border-color: #fe7302;
  border: 2px solid #fe7302;
  width: 96%;
  margin: auto;
  margin-bottom: 3%
}

.title {
  display: flex;
  background-image: url('https://res.cloudinary.com/dnkaxvkr9/image/upload/v1686080483/g4guvzr3ivxfgxgrwc6v.png');
  background-size: cover;
  background-position: center;
  height: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 2px -1px 20px rgb(0 0 0 / 70%); */
  border-color: #fe7302;
  border: 2px solid #fe7302
}

.link{
  text-decoration:none;
  text-decoration-style: none;
  text-decoration-line: none;
}

.title h1 {
  font-size: 1.2rem;
  color: aliceblue;
}

.image {
  min-height: 180px;
  display:flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  justify-content: flex-end;
  align-items: flex-start;

}

.description {
  flex-grow: 1;
  color: rgb(3, 9, 15);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  max-height: 100%;
  text-overflow: ellipsis;
}

.buy {
  display: flex;
  height: 33px;
  background-color: #fe7302;
  box-shadow: inset 1px -1px 13px rgb(0 0 0 / 60%);
  color: rgb(235, 241, 235);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.buy button {
  
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  color: rgb(241, 235, 235);
  background-color: rgba(240, 248, 255, 0);
}

.heartIcon {
  color: #ffffffba;
  font-size: 1.8rem;
  background-color: transparent;
}
.buttonHeart{
  background-color: #05000000;
  padding-right:10%;
  padding-top: 2%;
  border:none;
  display:flex;
  justify-content: flex-end;

}
.heartIconFav {
  color: #fe0404;
  font-size: 1.8rem;
  background-color: transparent;
}



.buySelected {
  background-color: red;
  color: white;
}

.container:hover .heartIcon {
  color: #79fe04;
}

/* .container:hover .buy button {
  color: #79fe04;
} */

.container:hover .name {
  color: #fe7302;

}

.name{
  font-size: 1.2rem;
  color: aliceblue;
}