.carousel {
    position: relative;
    width: 100%;
    margin: 0;    
    background-color:  #050700;
    margin-bottom: 1%;
  }
  
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    padding: 0; 
  }
 
  .carousel-item.active {
    position: relative;
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    padding: 0;
  }
  
  .carousel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel-selector {
    display: flex;
    justify-content: center;
    padding: 15px;
    
  }
  
  .selector-dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .selector-dot.active {
    background-color: #333;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  