.videogames {
  min-height: 50vh;
  border-color: #fe7302;
  border: 3px solid #fe7302;
  align-items: center;
  /* background-color: #fe7302 */
  border-radius: 15px;
  
}

.ordering {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fe7302;
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 15px; */
}

.orderSelect {
  border: none;
  margin: 1% 0;
  font-size: 14px;
  font-weight: bold;
  padding: 2%;
  border-radius: 15px;
  background-color: transparent;
  flex: 1 1 auto;
  max-width: calc(80% - 11%);
}

.selectedSelect {
  border: none;
  margin: 1% 0;
  font-size: 14px;
  font-weight: bold;
  padding: 2%;
  border-radius: 15px;
  background-color: transparent;
  flex: 1 1 auto;
  max-width: calc(80% - 11%);
}

button {
  margin: 1px;
  background-color: #fe7302;
}



/* button:hover {
  color: #fe7302;
  background-color: #79fe04;
} */


@media (max-width: 576px) {
  .ordering {
    font-size: 10px;
  }

  .orderSelect,
  select,
  .selectedSelect {
    padding: 4px 8px;
    max-width: 85px;
    font-size: 10px;
  }

  .ordering > div {
    margin: 1% 1%;
    width: 100%;
  }
}