.videogames {
    min-height: 50vh;
  }
  
  .ordering {
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    padding: 10px;
    background-color: #fe7302;
  }
  
  .orderSelect {
    border: none;
    margin: 1%;
    font-size: 14px;
    font-weight: bold;
    padding: 2%;
    border-radius: 15px;
    background-color: transparent;
  }
  
  .selectedSelect {
    border: none;
    margin: 1%;
    font-size: 14px;
    font-weight: bold;
    padding: 2%;
    border-radius: 15px;
    background-color:transparent;
    
  }
  