.fondo {
  background-image: url(https://img.freepik.com/vector-gratis/vector-recursos-diseno-marco-geometrico-gris_53876-165849.jpg?w=740&t=st=1684795577~exp=1684796177~hmac=23ba0a800d9244132cd3ce3a8fe9c1e23cbfad63ef42809b91b9a8352580a2fc);
display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  size: contain;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

